{% extends 'layout/default.html.twig' %}

{% set activeLink = false %}

{% block content %}
    <header class="jumbotron" style="padding: 8rem 0">
        <div class="container">
            <h1 class="m-0">Symfony Eshop Demo</h1>
        </div>
    </header>
{% endblock %}
