{% extends 'layout/default.html.twig' %}

{% block body_class %}demo-page{% endblock %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% include 'demo_menu.html.twig' with {activeLink: false} only %}

        <main class="h-100 d-flex flex-column justify-content-center">
            <div class="container">
                <header class="text-center">
                    <h1 class="m-0">Symfony Core App</h1>
                </header>

                {% include 'common/flashes.html.twig' with {flashes: app.flashes} only %}
            </div>
        </main>

        <footer class="mt-auto text-center">
            <p class="mt-5 mb-0 text-muted">© 2019-2020 | Made with ❤ by <a href="https://www.xpressive.io" target="_blank">xpressive</a>.</p>
        </footer>
    </div>
{% endblock %}
